[submodule "external/skia"]
	path = external/skia
	url = https://skia.googlesource.com/skia.git
[submodule "external/json"]
	path = external/json
	url = git@github.com:nlohmann/json.git
[submodule "external/fmt"]
	path = external/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "external/catch2"]
	path = external/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "src/lang"]
	path = src/lang
	url = git@github.com:kofinder/LynxLang.git
[submodule "src/types"]
	path = src/types
	url = git@github.com:kofinder/LynxTypes.git
[submodule "src/mangler"]
	path = src/mangler
	url = git@github.com:kofinder/LynxMangler.git
[submodule "src/system"]
	path = src/system
	url = git@github.com:kofinder/LynxSystem.git
[submodule "src/core"]
	path = src/core
	url = git@github.com:kofinder/LynxCore.git
[submodule "src/lto"]
	path = src/lto
	url = git@github.com:kofinder/LynxLTO.git
[submodule "src/codegen"]
	path = src/codegen
	url = git@github.com:kofinder/LynxCodegen.git
[submodule "src/logger"]
	path = src/logger
	url = git@github.com:kofinder/LynxLogger.git
[submodule "src/jit"]
	path = src/jit
	url = git@github.com:kofinder/LynxJIT.git
[submodule "src/linker"]
	path = src/linker
	url = git@github.com:kofinder/LynxLinker.git
[submodule "src/analyzer"]
	path = src/analyzer
	url = git@github.com:kofinder/LynxAnalyzer.git
[submodule "src/ast"]
	path = src/ast
	url = git@github.com:kofinder/LynxAst.git
[submodule "src/attributes"]
	path = src/attributes
	url = git@github.com:kofinder/LynxAttributes.git
[submodule "src/callconv"]
	path = src/callconv
	url = git@github.com:kofinder/LynxCallConv.git
[submodule "src/cli"]
	path = src/cli
	url = git@github.com:kofinder/LynxCLI.git
[submodule "src/config"]
	path = src/config
	url = git@github.com:kofinder/LynxConfig.git
[submodule "src/context"]
	path = src/context
	url = git@github.com:kofinder/LynxContext.git
[submodule "src/stdapi"]
	path = src/stdapi
	url = git@github.com:kofinder/LynxBridge.git
[submodule "src/platform"]
	path = src/platform
	url = git@github.com:kofinder/LynxPlatform.git
[submodule "src/constants"]
	path = src/constants
	url = git@github.com:kofinder/LynxConstants.git
[submodule "src/runtime"]
	path = src/runtime
	url = git@github.com:kofinder/LynxRuntime.git
[submodule "src/exceptions"]
	path = src/exceptions
	url = git@github.com:kofinder/LynxExceptions.git
[submodule "src/errors"]
	path = src/errors
	url = git@github.com:kofinder/LynxErrors.git
[submodule "src/lsp"]
	path = src/lsp
	url = git@github.com:kofinder/LynxLSP.git
